<ion-view view-title="Login" name="login-view" ng-controller="LoginCtrl as vm">
  <ion-content class="padding" style="background-color:#00A0E9">
    <img ng-src="img/login-img.png" style="width:100%;"/>
    <form name="loginForm" ng-submit="vm.logIn(loginForm)">
        <label class="item item-input" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine}">
            <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" required>
        </label>
        <p id="emailValidationMsg" ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">{{"Email_Validation_Message" | translate}}
        </p>
        <button class="button button-block button-energized" ng-click="vm.login(user)">{{"Login_Text" | translate}}</button>
    </form>
  </ion-content>
</ion-view>