<ion-view id="activityChartsPage" title="Activity Chart" ng-controller="ActivityParentCtrl as vm">
    <ion-content class="padding has-tabs-top">
	<!-- charts with highCharts -->
	<div ng-repeat="chartConfig in vm.chartConfigs">
	   <highchart id="activityChart" config="chartConfig" ></highchart>
       <h5 id="todaysDateDisplay">TODAY {{vm.todaysDate | date:'MMM d' | uppercase}}</h5>
	</div>

	<div class="transaction-list item-container" ng-repeat="durationByDateComposite in vm.durationByDateComposites | orderBy: '-date'">
          <div class="row barChartRow">
            <i class="icon {{activity.icon}}"></i>
            <div class="col col-80">
              	<highchart class="durationBarChart" config="durationByDateComposite.chartConfig"></highchart>
            </div>
            <div class="col col-20" style="text-align:right;">
            	<div class="durationRowDateContainer">
            		<div class="rowDateDisplay">{{durationByDateComposite.chartConfig.dayOfMonth}}</div>
            		<div class="rowDateDisplay">{{durationByDateComposite.chartConfig.dayOfWeekName}}</div>
            	</div>
            </div>
          </div>
    </div>

    </ion-content>
</ion-view>