<ion-modal-view>
    <ion-header-bar>
      <button class="button button-clear button-primary" ng-click="editActivityModal.hide()">Cancel</button>
      <h1 class="title">Edit Activity</h1>
      <button class="button button-clear button-primary" ng-click="editActivityModal.hide()">Done</button>
    </ion-header-bar>
    <ion-content ng-controller="UpdateActivityCtrl">
<div class="list">
  <div class="item item-divider">
    </br>
    ACTIVITY TYPE
  </div>
  <a class="item item-icon-left" href="#">
    <p ng-model="activity.activityType">{{vm.selectedActivity.activityType}}</p>
    <i class="icon {{vm.selectedActivity.icon}}"></i>
  </a>
  <div class="item item-divider">
    </br>
    DETAILS
  </div>
  <div class="item" href="#">
  	<div class="row">
  		<div class="col col-50">Time</div>
  		<div class="col col-50" style="text-align:right;">
  			{{vm.selectedActivity.date | date:'EEE, MMM d'}} {{vm.selectedActivity.timeStamp}}
  		</div>

  	</div>
  </div>
  <div class="item" href="#">
  	<div class="row">
  		<div class="col col-50">Duration</div>
  		<div class="col col-50" style="text-align:right;">{{vm.selectedActivity.length}}</div>
  	</div>  
  </div>
  <div class="item item-divider" style="text-align:center;">
    <button class="button button-clear button-primary" ng-click="showAlert();">Test</button>
    </br>
    <p>Source: </p>
  </div>
  <a class="item item-assertive" href="#" style="text-align:center;">
    Delete Activity
  </a>
</div>    
</ion-content>
  </ion-modal-view>