  <ion-view id="activityPage" title="Activity" ng-controller="ActivityParentCtrl as vm">
    <ion-header-bar align-title="center" class="bar">
       <h1 class="title">PokiFit</h1>
       <div class="buttons">
        <button class="button button-clear" ng-click="vm.createActivity()">
          <i class="icon ion-ios7-plus-empty icon-accessory"></i>
        </button>
      </div>
    </ion-header-bar>
    <div class="bar bar-subheader">
      <div class=" button-bar">
        <a class="button button-light button-ios" ng-class="{ 'button\-positive': demo == 'ios' }" ng-click="setPlatform('ios')" ui-sref="tab.activity.activityList">
          List
        </a>
        <a class="button button-light button-ios" ng-class="{ 'button\-positive': demo == 'android' }" ng-click="setPlatform('android')" ui-sref="tab.activity.activityChart">
          Chart
        </a>
      </div>
    </div>

    <ui-view name="activity-page"></ui-view>

  </ion-view>