 <ion-view view-title="Activity" ng-controller="ActivityListCtrl as vm">
 <ion-content class="has-header has-subheader" delegate-handle="scrollHandle">
     <ion-refresher
        pulling-text="Refresh activities..."
        on-refresh='vm.reloadActivities()'>
      </ion-refresher>
      <div class="transaction-list item-container" ng-repeat="activityDate in vm.activities | groupBy: 'date' | toArray:true | orderBy:'$key':true">
      <div class="item item-divider">
        <p>{{activityDate.$key | date:'EEE, MMM d'}}</p>
      </div>
      <div class="item transaction-item item-icon-left" ng-repeat="activity in activityDate" href="" ng-click="vm.openEditActivityModal(activity)">
        <div class="row">
            <i class="icon"><img ng-src="img/icon-walk-32.png"/></i>          
            <div class="col">
              <p>{{activity.duration}} {{activity.activityType}}</p>
              <p>{{activity.description}}</p>
          </div>
          <div class="col" style="text-align:right;">
            <p>{{activity.timeStamp}}</p>
          </div>
    </div>
    </div>
  </ion-content>
</ion-view>