<ion-modal-view>
   <ion-header-bar>
      <button class="button button-clear button-primary" ng-click="privacyModal.cancel()">{{"Cancel_Button_Text" | translate}}</button>
      <h1 class="title">{{"PokiFit Privacy Policy" | translate}}</h1>
      <button class="button button-clear button-primary" ng-click="privacyModal.done()">{{"Done_Button_Text" | translate}}</button>
   </ion-header-bar>
   <ion-content>
      <div style="padding:10px;">
         <p>PokiFit is committed to protecting the privacy of our users. This Privacy Policy should help you understand how we collect, use and keep the information you provide to us and to assist you in making informed decisions when using our Service. For purposes of this Agreement, “Service” refers to the Company’s service in which users can[review data and trends of their daily activities]. The terms “we,” “us,” and “our” refer to the Company. “You” refers to you, as a user of Service. By accepting our Privacy Policy and Terms of Use, you consent to our collection and use of your personal information as described in this Privacy Policy.</p>
         <b>Information we collect and use</b>
         </br>
         <p>
            We collect information knowingly provided to us by the user. Examples of personal information we collect include your name, email address, activity data, and other health-related information as we continue to develop our product and incorporate additional features. You have the option to choose not to provide certain pieces of information, though doing so would prevent you from accessing some features of this application. All collected information is stored locally on your device with no upload or sharing involved. If our information practices change at any time in the future, we will post the policy changes to the Site so that you may opt out of the new information practices. We suggest that you check the Site periodically if you are concerned about how your information is used.
         </p>
         <b>Changes to our privacy policy</b>
         </br>
         <p>
            We reserve the right to change this policy and our Terms of Service at any time. Significant changes to our Privacy Policy will be notified to users by sending a notice to the email address linked with the user’s account, and by updating the site at www.pokifit.com. Significant changes will be effective 30 days following the notice, while changes of lesser impact will take effect immediately. Please check this privacy page for updates regularly. 
         </p>
         <b>Contact us</b>
         </br>
         <p>
            Please contact us by sending an email to pokifit@gmail.com if you have any questions regarding the Privacy Policy
         </p>
      </div>
   </ion-content>
</ion-modal-view>