/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}


/** For Background color **/
.scroll-content{
    -webkit-animation: hue 60s linear infinite;
}



@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/** END background color **/

.myPopup > .popup { 
  border-radius:0 .9rem 0 .9rem !important; 
}



.conversationBase {
  border-style:none; 
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 3px;
  background-color:transparent;
}


.systemMsgAnimated {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  display:inline-block;
  white-space: normal;
  max-width:85%;
  margin:0 0 0.8rem 0;
  border-radius:.75rem 0 .75rem 0;
  padding:.6875rem;
  background:#e6e5eb;
  color:#383641;
 }

.chart {
  opacity:0.1;
  background: transparent;
}



.systemMsg {
  display:inline-block;
  white-space: normal;
  max-width:85%;
  margin:0 0 0.8rem 0;
  border-radius:.75rem 0 .75rem 0;
  padding:.6875rem;
  background:#e6e5eb;
  color:#383641;
 }

.buffer {
  height:100px;
}

.innerDiv {
  font-size:.875rem;
  left: 0;
  overflow: auto;
}


.userMsg {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  display:block;
  max-width:50%;
  margin:0 0 .8rem 0;
  padding-bottom: .6875rem;
  float: right;
  font-size:.875rem;
  opacity: 1;
}

.innerUser {
  font-size:.875rem;
  right: 0;
  overflow: auto;
  border-radius: 0 .75rem 0 .75rem;
  background:#33C507;
  color:white;
  padding:.6875rem;
  font-size:.875rem;
  opacity: 1;
}

.wrapper {
  width: 50px;
}
.systemMsg .wrapper  .dot {
    background: #CCC;
    height: 8px;
    width: 8px;
    border-radius: 12px;
    margin-right: 5px;
    display: inline-block;
    -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: flash 1.3s infinite;
    animation-delay: 0.0s;
}
.systemMsg .wrapper  .dot:first-child {
    background: black;
}
.systemMsg .wrapper  .dot:nth-child(2) {
   -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: flash 1.3s infinite;
      animation-delay: 0.2s;
}
.systemMsg .wrapper  .dot:nth-child(3) {
    -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: flash 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes flash {
    from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}

@keyframes dot {
     from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}


.userMsgOptionsContainer {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  position: absolute;
  bottom: 49px;
  width: 100%;
}

.userMsgOption {
    margin:5px;
    display:inline-block;
    background:#33C507;
    color:#fff;
    border-radius:.75rem 0 .75rem 0;
    padding: .5rem;
    margin-right:1px;
    font-size:.875rem;
}

.message-chart {
  height: 30%;
  width: 70%;
}

/* Activity Chart */
#activityChart {
  height: 150px;
  width: 100%;
}

.barChartRow{
  height:70px;
}

.durationBarChart{
  height:70px;
}

.durationRowDateContainer{
  margin: 8px 0 0;
}

#activityChartsPage #todaysDateDisplay{
  text-align:center;
  color:#BEBEBE;
}

#activityChartsPage .rowDateDisplay{
    color:#BEBEBE;
    font-size: 20px;
}

#activityChartsPage .barChartRow{
  padding: 0;
}

#activityChartsPage .col {
  padding: 0;
}

#activityChartsPage #todayDurationLabel{
  color:#BEBEBE;
  font-size: 30px;
}
