/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.systemMsg {
	display:inline-block;
	white-space: normal;
	max-width:70%;
	margin:0 0 0.4rem 0;
	/*padding:.6875rem;*/
padding:.4rem;
  border-radius:.75rem;
  background:#e6e5eb;
  color:#383641;
  
  
}

.innerDiv {
  font-size:.875rem;
  left: 0;
  overflow: auto;
}


.userMsg {
	display:block;
	max-width:50%;
	margin:0 0 1rem 0;
	padding:.6875rem;
	float: right;
	font-size:.875rem;
}

.innerUser {
  font-size:.875rem;
  right: 0;
  overflow: auto;
  border-radius:.75rem;
  background:#49b245;
  color:#383641;
  padding:.6875rem;
  margin-right:5px;
  font-size:.875rem;

}

.userMsg span {
	border-radius:.75rem;
	background:#49b245;
	color:#383641;
	padding:.6875rem;
	margin-right:5px;
	font-size:.875rem;
}


.wrapper {
  width: 50px;
}
.systemMsg .wrapper  .dot {
    background: #CCC;
    height: 8px;
    width: 8px;
    border-radius: 12px;
    margin-right: 5px;
    display: inline-block;
    -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: flash 1.3s infinite;
    animation-delay: 0.0s;
}
.systemMsg .wrapper  .dot:first-child {
    background: black;
}
.systemMsg .wrapper  .dot:nth-child(2) {
   -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: flash 1.3s infinite;
      animation-delay: 0.2s;
}
.systemMsg .wrapper  .dot:nth-child(3) {
    -webkit-animation: flash 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: flash 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes flash {
    from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}

@keyframes dot {
     from  {
        background: black;
    }
    to {
        background: #CCC;
    }
}



.footerOverride {
  background: none;
}

.userMsgFooter {
  left:40%;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  padding:0;
 }

.userMsgFooter span {
  
  position: relative;
  border-radius:.75rem;
  background:#49b245;
  color:#383641;
  padding:.6875rem;
  margin-right:1px;
  font-size:.875rem;
}

